body {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 30px;
}

li{
  list-style-type: none;
  padding: 4px;
}

#container {
  display:flex;
  height: 100vh !important;
}

#container > * {
  padding: 10px;
}

#sidebar {
  height: calc(100vh - 20px); 
  width: 20%;
  max-width: 500px;
  overflow-y: auto;
}

#fileList{
  padding: 0;
}

#backlinks {
  height: calc(100vh - 20px); 
  width: 10%;
  min-width: 100px;
  margin-left: 0px;
  margin-right: 10px;
}

#page {
  overflow: auto;
  width: 100%;
  padding: 20px;
}

#links {
  height: calc(100vh - 20px); 
  width: 10%;
  min-width: 100px;
  margin-left: 0px;
  margin-right: 10px;
}

#headingsSection {
  height: calc(100vh - 20px); 
  width: 10%;
  min-width: 100px;
  margin-left: 0px;
  margin-right: 10px;
  text-decoration: none;
}

#headingsSection a{
  color: black;
  font-weight: 550;
}
