body {
  margin: 0;
  padding: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

li{
  list-style-type: none;
  padding-block-start:0.3em;
  padding-block-end: 0.3em;
}

#container {
  display: flex;
  height: 100vh;
}

#view {
  display: flex;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
 }

#view > * {
  box-sizing: border-box;
  overflow: auto;
  padding: 12px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 10%;
  max-width: 500px;
  padding: 12px;
  box-sizing: border-box;
}

#fileList {
  flex: 1;
  overflow: auto;
}

#fileList ul{
  padding-inline-start: 1em;
}

#fileList li.folder{
  list-style-type: circle;
}

#fileList li.folder.collapsed{
  list-style-type: disc;
}

#fileList li.folder.collapsed > ul {
  display: none;
}

#backlinkSection {
  width: 10%;
  min-width: 100px;
}

#page {
  flex: 1;
  overflow: auto;
  padding: 2em;
}

#page ul {
  padding-inline-start: 1em;
}

#page li {
  list-style-position: inside;
  list-style-type: disc;
}

#headingsSection {
  width: 10%;
  min-width: 100px;
}

#headingsSection a{
  color: black;
  font-weight: 550;
}

#links {
  width: 10%;
  min-width: 100px;
  word-wrap: break-word;
}


@media (max-width: 1000px) {
  #view {
    flex-direction: column;
  }

@media (max-width: 600px) {
  #sidebar {
    display: none;
  }
}
